<%- include('templates/header', { pageTitle: 'Information', css: ['info.css'] })  %>
    <!-- Search Bar -->
    <nav class="navbar">
      <div class="container-fluid justify-content-center">
        <form class="d-flex search-form" role="search">
          <input
            class="form-control me-2 search-input"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />

          <button class="filter-button" type="button">
            <img
              src="/images/filter.png"
              alt="Filter"
              class="filter-icon"
            />
          </button>
          <!-- User should be able to press enter and search, so search button commented out for now -->
          <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>

        <!-- FILTER SECTION -->
        <div id="filter-panel" class="filter-panel d-none">
          <label class="filter-option">
            <input type="checkbox" id="filter-edible" />
            Edible only
          </label>

          <div id="filter-favourites-wrap" class="<%= plants.some(p => p.favourite) ? '' : 'd-none' %>">
            <label class="filter-option">
              <input type="checkbox" id="filter-favourites" />
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                <path class="bookmark-filter-icon" d="M5 3h14a1 1 0 0 1 1 1v17l-8-4-8 4V4a1 1 0 0 1 1-1z"/>
              </svg>
              Favourites
            </label>
          </div>

          <button id="clear-filters" class="btn btn-sm btn-outline-secondary mt-2 w-100">
            Clear filters
          </button>
        </div>

      </div>
    </nav>

    <!-- Info Cards -->
    <div class="container d-flex justify-content-center flex-wrap gap-4 mt-5 info-card-container">
    <% plants.forEach(function(plant) { %> <!-- for every plant in db make one card-->
        <div class="card" style="width: 18rem">
        <img
            src="<%= plant.image %>"
            class="card-img-top"
            alt="<%= plant.name %>"
        />

        <div class="card-body">
            <h5 class="card-title"><%= plant.name %></h5>

            <!--FILTER SECTION (BOOKMARK)-->
            <button
              class="save-btn <%= plant.favourite ? 'saved' : '' %>"
              data-id="<%= plant._id %>"
              data-favourite="<%= plant.favourite %>"
              title="<%= plant.favourite ? 'Remove from favourites' : 'Save to favourites' %>"
              aria-label="Save plant"
              >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                <path class="bookmark-icon" d="M5 3h14a1 1 0 0 1 1 1v17l-8-4-8 4V4a1 1 0 0 1 1-1z"/>
              </svg>
            </button>


            <p class="card-text">
            <%= plant.description %>
            </p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
            <b>Edible:</b> <%= plant.isEdible ? "True" : "False" %>
            </li>

            <li class="list-group-item">
            <b>Location:</b> <%= plant.location %>
            </li>

            <li class="list-group-item">
            <b>Habitat:</b> <%= plant.habitat %>
            </li>
        </ul>
        </div>
    <% }) %>
    </div>

<%- include('templates/footer', { js: ['info.js'] }) %>
