<%- include('templates/header', { pageTitle: 'Information', css: ['info.css'] })  %>
    <!-- Search Bar -->
    <nav class="navbar">
      <div class="container-fluid justify-content-center">
        <form class="d-flex search-form" role="search">
          <input
            class="form-control me-2 search-input"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />

          <button class="filter-button" type="button">
            <img
              src="/images/filter.png"
              alt="Filter"
              class="filter-icon"
            />
          </button>
          <!-- User should be able to press enter and search, so search button commented out for now -->
          <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
      </div>
    </nav>

    <!-- Info Cards -->
    <div class="container d-flex justify-content-center flex-wrap gap-4 mt-5 info-card-container">
    <% plants.forEach(function(plant) { %> <!-- for every plant in db make one card-->
        <div class="card" style="width: 18rem">
        <img
            src="<%= plant.image %>"
            class="card-img-top"
            alt="<%= plant.name %>"
        />

        <div class="card-body">
            <h5 class="card-title"><%= plant.name %></h5>

            <p class="card-text">
            <%= plant.description %>
            </p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
            <b>Edible:</b> <%= plant.isEdible ? "True" : "False" %>
            </li>

            <li class="list-group-item">
            <b>Location:</b> <%= plant.location %>
            </li>

            <li class="list-group-item">
            <b>Habitat:</b> <%= plant.habitat %>
            </li>
        </ul>
        </div>
    <% }) %>
    </div>

<%- include('templates/footer', { js: ['info.js'] }) %>
