<%- include('templates/header', { pageTitle: 'Profile' , css: ['profile.css'] }) %>
  <div class="d-flex p-2 heading-styling">
    <h2 class="heading-element">
      Hello User!
    </h2>
    <div class="earned-points">
      <img src="/images/plant_points.svg" alt="plant-points-logo" class="img-earned-points">
      <p class="text-earned-points"> Earned Points</p>
      <p class="text-earned-points"> 25 </p>
      <img src="/images/pp.svg" alt="plant-points" class="plant-points-logo">
    </div>
  </div>

  <div class="container ">
    <div class="container-custom-flex">

      <% for(let i=1; i < levelsInfo.length; i++) { %>

        <div class="
            level-card
            <% if(userLevel > levelsInfo[i].levelVal) { %> completed <% } %>
            <% if(userLevel === levelsInfo[i].levelVal) { %> current <% } %>
            <% if(userLevel < levelsInfo[i].levelVal) { %> locked <% } %>
          ">

          <p class="points-text">
            <%= levelsInfo[i].levelVal * 5 %> Points
          </p>
          <img src="/images/Arrow.svg" alt="" class="plant-arrow">
          <img src="/images/<%= levelsInfo[i].levelImg %>.svg" alt="" class="plant-points">
          <!-- <p class="level-name">
            <%= levelsInfo[i].levelName %>
          </p> -->

        </div>

        <% } %>

    </div>

    <div class="earned-points">
      <img src="/images/plant_points.svg" alt="plant-points-logo" class="img-earned-points">
      <p class="text-earned-points">Tress Collected</p>
      <p class="text-earned-points"> 0 </p>
      <img src="/images/pp.svg" alt="plant-points" class="plant-points-logo ">
    </div>

  </div>
  <%- include('templates/footer') %>